html {
    height: 100%;
}

body {
    display: grid;
    height: 100%;
    padding: 1rem;

    background: yellowgreen;

    max-width: 320px;
    margin: 0 auto;

    grid-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 2rem auto auto 2rem;

    grid-template-areas: 
        "header"
        "topmenu"
        "content"
        "aside"
        "footer";
}

.main-header {
    background: red;
    color: whitesmoke;
    grid-area: header;
}

.main-nav {
    background: blue;
    color: whitesmoke;
    grid-area: topmenu;
}

.side-nav {
    display: none;
    background: green;
    color: whitesmoke;
    grid-area: sidemenu;
}

.main-content {
    background: yellow;
    color: whitesmoke;
    grid-area: content;
}

.side-content {
    background: pink;
    color: whitesmoke;
    grid-area: aside;
}

.main-footer {
    background: black;
    color: white;
    grid-area: footer;
}


@media ( min-width: 340px ) {
    body {
        background: plum;
        max-width: 640px;

        grid-gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 2rem auto auto 2rem;

        grid-template-areas: 
        "header header"
        "topmenu topmenu"
        "content aside"
        "sidemenu sidemenu"
        "footer footer";
    }

    .side-nav {
        display: block;
    }


}

@media ( min-width: 960px ) {
    body {
       background: violet;
       max-width: 960px;

        grid-gap: 0.5rem;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 4rem 2rem auto auto 2rem;

        grid-template-areas: 
        "header header header"
        "topmenu topmenu topmenu"
        "sidemenu content aside"
        "sidemenu content aside"
        "footer footer footer";
    }

}